<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.validate.min.js}"></script>
</head>
<body>

<div>

    <h1 th:text="${appUser.userName}"></h1>

    <form th:object="${appUser}" id="profileForm" class="form-horizontal profileForm">
        <label for="quote">My Favorite Movie Quote</label>
        <input type="hidden" th:field="*{profile.code}" id="profile"/>
        <input type="text" th:field="*{profile.quote}" class="form-control" id="quote"
               placeholder="Write your Favorite Movie Quote" maxlength="50" autocomplete="off" disabled/>

        <div id="save" style="display: none;">
            <button type="button" class="btn btn-default btn-sm" onclick="saveQuote();">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </form>

    <div id="edit" style="display: block;">
        <button type="button" class="btn btn-default btn-sm" onclick="editQuote();">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
    </div>

    <div id="divMessage" style="display: none; position: absolute; left: 110px;">
        <span id="message"></span>
    </div>

    <div th:if="${success == true}" id="success" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Successful!
    </div>
    <div th:if="${success == false}" id="success" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Sorry! Something went wrong. Please try again later.
    </div>

    <br><br>
    <h2>Reviews</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Date</th>
            <th>Title Comment</th>
            <th>Comment</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${appUser.profile.review}">
            <td>
                <a th:href="@{/movie/{code}.html(code=${review.movie.code})}">
                    <span th:text="${review.movie.title}"></span>
                    <font color="gray">(<span th:text="${review.movie.year}"></span>)</font>
                </a>
            </td>
            <td th:text="${#dates.format(review.publishedDate, 'yyyy-MM-dd')}"></td>
            <td><b th:text="${review.title}"></b></td>
            <td th:text="${review.comment}"></td>
            <td>
                <button type="button" class="btn btn-primary"
                        th:onclick="'fillForm(\'' + ${review.movie.code} + '\',\''
                            + ${review.movie.title} + '\',\'' + ${review.code} + '\',\''
                            + ${review.title} + '\',\'' + ${review.comment} + '\')'">
                    Update Review
                </button>
            </td>
            <td>
                <a th:href="@{/profile/remove/{code}.html(code=${review.code})}"
                   class="btn btn-danger triggerRemove">
                    Remove Review
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <form th:object="${review}" class="form-horizontal movieForm">

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" userRole="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" userRole="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Update Review</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" id="movie.title" readonly/>
                                <br>
                                <input type="hidden" th:field="*{movie.code}" id="movie.code"/>
                                <input type="hidden" th:field="*{code}" id="code"/>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{title}" class="form-control" placeholder="Title"
                                           maxlength="50" autocomplete="off" id="title"/>
                                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">Comment:</label>
                                <div class="col-sm-10">
                                    <textarea th:field="*{comment}" class="form-control" placeholder="Comment" rows="3"
                                              maxlength="150" autocomplete="off" id="comment"></textarea>
                                    <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Update Review"/>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".triggerRemove").click(function (e) {
            e.preventDefault();
            $("#modalRemove .removeBtn").attr("href", $(this).attr("href"));
            $("#removeModalLabel").text("Remove Review");
            $("#confirmationMessage").text("Are you sure to delete this Review?");
            $("#modalRemove").modal();
        });

        $(".movieForm").validate({
            rules: {
                title: {required: true, minlength: 3},
                comment: {required: true, minlength: 5}
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        });
    });

    function fillForm(movieCode, movieTitle, reviewCode, reviewTitle, reviewComment) {
        document.getElementById("movie.code").value = movieCode;
        document.getElementById("movie.title").value = movieTitle;
        document.getElementById("code").value = reviewCode;
        document.getElementById("title").value = reviewTitle;
        document.getElementById("comment").value = reviewComment;
        $("#myModal").modal();
    }

    function editQuote() {
        document.getElementById("quote").disabled = false;
        document.getElementById("edit").style.display = 'none';
        document.getElementById("save").style.display = 'block';
    }

    function saveQuote() {
        var quote = document.getElementById("quote").value;
        if (quote != "") {
            document.getElementById("profileForm").submit();
            document.getElementById("quote").disabled = true;
            document.getElementById("save").style.display = 'none';
            document.getElementById("edit").style.display = 'block';
            document.getElementById("divMessage").style.display = 'none';
            document.getElementById("divMessage").removeAttribute("class");
            document.getElementById("message").textContent = "";
        } else {
            document.getElementById("message").textContent = "Quote cannot be Empty";
            document.getElementById("divMessage").className = 'alert alert-danger';
            document.getElementById("divMessage").style.display = 'block';
        }
    }
</script>

</body>
</html>
